body {
    margin: 0;
    padding: 0;
    background-color: #9c778a;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: space-between;
    align-items: center;
    font-family: "Trebuchet MS";
}

header {
    position: relative;
    color: rgb(255,255,255);
    height: 150px;
    display: flex;
    align-items: center; 
    width: 100%;
    justify-content: center;   
}

.bottom-section {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 150px;  
}

.input-container {
    width: 100%;
    max-width: 650px;
    position: relative;
}

input {
    width: 100%;
    border: none;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: rgb(38,57,77) 0 20px 30px -10px;
    box-sizing: border-box;
}

#submit-icon {
    position: absolute;
    top: 10px;
    right: 30px;
    cursor: pointer;
}

.images-section {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
}

.image-container {
    width: 48%;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: rgb(38,57,77) 0 20px 30px -10px;
}

.image-container img {
    width: 100%;
}

#clear-images {
    cursor: pointer;
    background-color: #9c778a; /* Match the body's background for coherence */
    color: #ffffff; /* White text for contrast */
    border: none;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    margin-left: 20px; /* Add some space between the generate button and clear button */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

#clear-images:hover {
    background-color: #7d5f72; /* Slightly darker shade for hover effect */
}

#loading-bar-container {
    position: absolute;
    top: 100%; /* Position it at the bottom of the header */
    left: 50%; /* Center it horizontally */
    transform: translateX(-50%); /* Centers the loading message vertically */
    background-color: rgba(0, 0, 0, 0.5); /* Optional: adds a semi-transparent overlay */
    color: #ffffff; /* Ensures the text color is white */
    padding: 20px; /* Adds some padding around the text */
    border-radius: 10px; /* Optional: adds rounded corners */
}
